*{
    box-sizing: border-box;
}
body{
    padding: 16px 32px;
}
body.dark{
    background-color: #27292d;
    color: #ffff;
}

h1{
    margin-bottom: 48px;

}
.container{
    border: 2px solid blue;
    padding: 32px;
    margin-top: 16px;
    background-color: white;
    color: black;
}

.container.dark{
    background-color: #27292d;
    color: #ffff;

}